.banner{
    background-color: #000000;
    text-align: center;
    


}
.banner img {
    max-width:100% ;
    
    
}

 h1 {
     
    color: white;
    font-size: 45px;
    text-align: center;
    
    
    
    

}